body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.home-banner-text {
  display: flex;
  align-items: center;
}

.home-banner-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* border: 5px solid #fd8a3f; */
}

.icon-primary-color {
  filter: invert(71%) sepia(41%) saturate(4228%) hue-rotate(333deg)
    brightness(105%) contrast(98%);
}
